@grey-bg: #f9f9f9;
@grey-font: #2b343f;
@grey-border: #e9edf2;
@white: #ffffff;

@card-title: #617083;
@card-value: #2b343f;
@card-dots: #79899d;

a {
    cursor: pointer;
}

.dashboard-container{
    background-color: #f9f9f9;
    padding: 30px;
    scroll-behavior: smooth;
}

.header-wrapper {
    min-height: max-content;
}
.dashboard-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dashboard-header-container p{
    color: @grey-font;
    font-size: 28px;
    margin: 0;
}

.dashboard-header-container span{
    color: @grey-font;
    font-size: 13px;
    margin: 0;
}
.widgets {
    margin-left: 90.7rem;
    
}

.widgets p{
    width: 145px;
    height: 40px;
    background-color: @white;
    color: @grey-font;
    text-align: center;
    padding-top: 10px;
    border-radius: 6px;
    border: 1px solid @grey-border;
    cursor: pointer;
    // float: right;
    margin: 9px 20px;
    
    
}

// -----

.cards-container {
    // background-color: @white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    width: auto;
    flex-wrap: wrap;
    // height: 1px;
    
}

.each-card {
    background-color: @white;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 393px;
    // width: auto;
    // height: 54px;
    padding: 10px 8px;
    margin-right: 6px;
    // justify-content: flex-start;

    border: 1px solid @grey-border;
}

.each-card div {
    // background-color: @white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

.each-card div p {
    color: @card-title;
    font-size: 14px;
    font-weight: bold;
}
.each-card div h5 {
    color: @card-value;
    font-size: 26px;
    margin: 10px 0;
    line-height: 14px;
    font-weight: lighter;
    padding: 8px 0;
}
.each-card div span {
    font-size: 12px;
    color: #18d06b;
}

// ----
.two-columns-container {
    // background-color: skyblue;

    // width: auto;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: center;
    // flex-wrap: wrap;
    // box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.first-column-container{
    // background-color: pink;
    box-sizing: border-box;

    grid-column: 1 / 2;
}

.second-column-container{
    // background-color: pink;
    box-sizing: border-box;

    grid-column: 2 / 3;
}

.recent-container {
    // width: auto;
    // height: 380px;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 8px 20px;
    margin-top: 40px;

    border: 1px solid @grey-border;
}

.ss-container {
    // background-color:#18d06b;
    width: 798px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.recent-container div {
    // margin-right: 6px;
}

.recent-container div a{
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 20px auto 10px ;
    // margin-left: 330px;
}

.title-recent-container {
    width: 785px;
    height: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 25px 2px;
    align-items: center;
}

// ----

.week-container {

    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // flex-wrap: wrap;
    
    // height: 390px;
    background-color: @white;
    margin-top: 40px;
    padding: 8px 20px 20px 20px;

    border: 1px solid @grey-border;


}

.graph-container {
    width: 793px;
}

.week-container div {
    margin-right: 6px;
}

.title-week-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.week-container div a{
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
    margin: 20px auto 10px ;
}

// ----

.manual-container {
    
    max-height: 292px;
    margin-top: 40px; 
    background-color: @white;  
    padding: 8px 20px;
    border: 1px solid @grey-border;
}

.manual-container div {
    margin-right: 6px;  
}

.title-manual-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.manual-table {
    width: 793px;
    padding: 0 20px;
}

.manual-container div a{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 10px ;
}

// ----
.timeSheet-container {
    // width: 793px;
    // min-height: 288px;
    margin-top: 40px; 
    background-color: @white;  
    padding: 8px 20px;
    border: 1px solid @grey-border;
}

.timeSheet-container div {
    margin-right: 6px;  
}

.title-timeSheet-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.timeSheet-table {
    padding: 0 20px;
}

.timeSheet-container div a{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 10px ;
    
}

// -----
.projects-container {
    margin-top: 40px; 
    background-color: @white;  
    padding: 8px 20px;
    border: 1px solid @grey-border;
}

.projects-container div {
    // width: 293px;
    margin-right: 6px;  
}

.title-project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-table {
    width: 693px;
    padding: 0 20px;
    width: auto;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;

}

.projects-container div a{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 10px ;
    
}
